{% extends "base.html" %} {% block title %}ER400: BAD REQUEST{% endblock %}{%
block content %}
<style>
  h3 {
    color: crimson;
  }
</style>
<br />
<div align="center">
  <h3 style="font-size: 2.8em">BAD REQUEST</h3>

  <br />
  <h5 style="font-size: 1.4em">
    Sorry, Our server cannot process the request due to something that is
    perceived to be a client error, please try again or contact
    <u><i>myBalloons System Administrator</i></u> if you believe this is a
    mistake.
  </h5>
</div>
<h6></h6>
{% endblock %}
