{% extends "base.html" %} {% block title %}ER500: SERVER ERROR{% endblock %}{%
block content %}
<style>
  h3 {
    color: crimson;
  }
</style>
<br />
<div align="center">
  <h3 style="font-size: 2.8em">INTERNAL SERVER ERROR</h3>

  <br />
  <p>Webservice is currently unavailable</p>
  <br />
  <h5 style="font-size: 1.4em">
    Sorry, We are trying to get the server back online, please try again or
    contact
    <u><i>myBalloons System Administrator</i></u> if you need further
    information.
  </h5>
</div>
<h6></h6>
{% endblock %}
