{% extends "base.html" %} {% block title %}ER503: SERVER UNAVAILABLE{% endblock
%}{% block content %}
<style>
  h3 {
    color: crimson;
  }
</style>
<br />
<div align="center">
  <h3 style="font-size: 2.8em">SERVER IS NOW DOWN BECAUSE...</h3>

  <br />
  <p>It is overloaded or down for maintenance</p>
  <br />
  <h5 style="font-size: 1.4em">
    Sorry, We are trying to get the server back on its jobs again, please try
    again or contact
    <u><i>myBalloons System Administrator</i></u> if you need further
    information.
  </h5>
</div>
<h6></h6>
{% endblock %}
