{% extends 'base.html' %} {% block title %}Dashboard | myBalloons{% endblock
%}{% block content %}

<div class="pt-5" align="end"><h1>This is Dashboard</h1></div>
<p align="end">A Perfect Place to Manage "Your Stuff"</p>

<div class="justify-content-between my-2 mx-2 px-2 py-2" align="center">
  <div class="border border-info border-3 rounded-2">
    *****
    <div class="hstack gap-4 py-2 px-1">
      <div class="" align="center">
        <div
          class="vstack gap-3 mx-3 px-3 py-3 border border-2 border-warning rounded-2"
        >
          <h3>Account</h3>
          <img
            src="https://ui-avatars.com/api/?name={{user.fname}}+{{user.lname}}&color=3e79de&size=256"
            class="img-thumbnail d-block"
            alt="User Initial Profile"
          />
          <div class="vstack gap-1">
            <h2>
              <span
                style="color: Green; font-weight: bolder; font-style: oblique"
                >INFO:</span
              >
            </h2>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">Full Name:&ensp;</span
              >{{user.full_name}}
            </div>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">First Name:&ensp;</span
              >{{user.fname}}
            </div>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">Last Name:&ensp;</span
              >{{user.lname}}
            </div>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">College:&ensp;</span
              >{{user.college_abbriviation}}
            </div>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">Student ID:&ensp;</span
              >{{user.student_id}}
            </div>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">Account Role:&ensp;</span
              >{{user.roleRepr}}
            </div>
            <div>
              <button class="btn btn-primary btn-lg">
                "Account Management"
              </button>
            </div>
            <div><button class="btn btn-info btn-lg" disabled></button></div>
          </div>
        </div>
      </div>
      <div class="vstack gap-1">
        <div
          class="hstack gap-3 py-3 mx-3 my-3 border border-2 border-success rounded-2"
        >
          <div class="vstack gap-1" align="center">
            <h3>Points</h3>
            <div class="mx-3 my-3" align="start">
              <img
                src="https://seeklogo.com/images/D/dragon-coins-drg-logo-97C45DEF22-seeklogo.com.png"
                width="60"
                height="80"
                style="float: left"
              />
              <div class="vstack gap-1 py-1 px-5 mx-3 align-self-center">
                <span style="font-weight: 900">Total:</span>
                <span class="align-self-start"
                  ><h4>&ensp;{{user.points}}</h4></span
                >
              </div>
            </div>
          </div>
        </div>
        <div>Set 3</div>
      </div>

      <div>Set 4</div>
    </div>
    (-*****-)
  </div>
</div>
{% endblock %}
