{% extends 'base.html' %} {% block title %}Admin Dashboard | myBalloons{%
endblock %}{% block content %}

<div class="pt-5" align="end"><h1>Admin Dashboard</h1></div>
<p align="end">A Perfect Tool to Manage "Admin Stuff"</p>

<div class="justify-content-between my-2 mx-2 px-2 py-2" align="center">
  <div class="border border-info border-3 rounded-2">
    *****
    <div class="hstack gap-1 py-2 px-1">
      <div class="" align="center">
        <div class="vstack gap-3 mx-2 border border-2 border-warning rounded-2">
          <h3>Account</h3>
          <img
            src="https://ui-avatars.com/api/?name={{user.fname}}+{{user.lname}}&color=3e79de&size=256"
            class="img-thumbnail d-block"
            alt="..."
          />
          <div class="vstack gap-1">
            <h2>
              <span
                style="color: Green; font-weight: bolder; font-style: oblique"
                >INFO:</span
              >
            </h2>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">First Name:&ensp;</span
              >{{user.fname}}
            </div>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">Last Name:&ensp;</span
              >{{user.lname}}
            </div>
            <div class="align-self-start mx-2">
              <span style="font-weight: 900">Account Role:&ensp;</span
              >{{user.roleRepr}}
            </div>
          </div>
        </div>
      </div>
    </div>
    (-*****-)
  </div>
</div>

{% endblock %}
