{% extends 'base.html' %} {% block title %}HOME | myBalloons{% endblock %}{%
block content %}
<body class="bg-dark text-primary px-4 pt-5 py-2">
  <br />
  <div>
    <h1 dir="rtl" style="color: rgb(229, 227, 91)">HOME</h1>
  </div>
  <br />
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-2">
    <br />
    <h3>Welcome to myBalloons System, official sub-system of MU iBalloons!</h3>
  </div>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-2">
    <br />
    <a
      type="button"
      class="btn btn-outline-warning btn-lg px-4 me-sm-3 fw-bold"
      href="/login"
    >
      Login
    </a>
    <a type="button" class="btn btn-outline-light btn-lg px-4"> Sign-Up </a>
  </div>

  <div class="bg-dark text-secondary px-3 py-5 text-center pt-1">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">What is myBalloons?</h1>
      <div class="col-lg-6 mx-auto">
        <br />
        <h4 class="text-light">
          A place where you managing exclusive iBalloons privileges
        </h4>
      </div>
      <div class="d-grid gap-2 d-sm-evenly justify-content-sm-center">
        <h3 style="color: yellow">Fast | Simple | Secure | Ease</h3>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="fs-5 mb-4">
          myBalloons System is only place where you can... Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Pellentesque aliquam bibendum
          risus, luctus ornare velit interdum id. Donec ultricies turpis sit
          amet elit tempor fermentum. Cras ut risus at sem aliquam efficitur in
          nec massa. Duis posuere justo quis eleifend imperdiet. Ut eget leo et
          lectus auctor sollicitudin. Nam eget accumsan tortor. Sed sollicitudin
          egestas felis, at porta ex finibus id. Integer pellentesque sit amet
          libero vel tempor. Proin fermentum libero vel magna vulputate, vel
          finibus urna facilisis.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a
            type="button"
            class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
            href="#"
          >
            User Manual
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
