{% extends 'base.html' %} {% block title %}HOME | myBalloons{% endblock %}{%
block content %}
<div id="light">
  <body class="bg-light text-primary px-4 pt-5 py-2">
    <div class="theme toggler">
      <button
        type="button"
        class="btn btn-success btn-theme-toggler"
        onclick="toDarkTheme()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-palette"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
          />
          <path
            d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z"
          />
        </svg>
        Theme
      </button>
    </div>
    <div>
      <h1 dir="rtl" style="color: black">HOME</h1>
    </div>
    <br />
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-2">
      <br />
      <h3>
        Welcome to myBalloons System, official sub-system of MU iBalloons!
      </h3>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-2">
      <br />
      <a
        type="button"
        class="btn btn-warning btn-lg px-4 me-sm-3 fw-bold"
        href="/login"
      >
        Login
      </a>
      <a type="button" class="btn btn-secondary btn-lg px-4"> Sign-Up </a>
    </div>

    <div class="bg-light text-secondary px-3 py-5 text-center pt-1">
      <div class="py-5">
        <h1 class="display-5 fw-bold">What is myBalloons?</h1>
        <div class="col-lg-6 mx-auto">
          <br />
          <h4 class="text-info">
            A Perfect place where you managing exclusive iBalloons privileges
          </h4>
        </div>
        <div class="d-grid gap-2 d-sm-evenly justify-content-sm-center">
          <h3 style="color: rgb(211, 45, 170)">
            Fast | Simple | Secure | Ease
          </h3>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="fs-5 mb-4">
            myBalloons System is only place where you can... Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Pellentesque aliquam bibendum
            risus, luctus ornare velit interdum id. Donec ultricies turpis sit
            amet elit tempor fermentum. Cras ut risus at sem aliquam efficitur
            in nec massa. Duis posuere justo quis eleifend imperdiet. Ut eget
            leo et lectus auctor sollicitudin. Nam eget accumsan tortor. Sed
            sollicitudin egestas felis, at porta ex finibus id. Integer
            pellentesque sit amet libero vel tempor. Proin fermentum libero vel
            magna vulputate, vel finibus urna facilisis.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a
              type="button"
              class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
              href="#"
            >
              User Manual
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

<div id="dark">
  <div class="bg-dark text-primary px-4 pt-5 py-2">
    <div class="theme toggler">
      <button type="button" class="btn btn-success" onclick="toLightTheme()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-palette"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
          />
          <path
            d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z"
          />
        </svg>
        Theme
      </button>
    </div>
    <div>
      <h1 dir="rtl" style="color: rgb(229, 227, 91)">HOME</h1>
    </div>
    <br />
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-2">
      <br />
      <h3>
        Welcome to myBalloons System, official sub-system of MU iBalloons!
      </h3>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-2">
      <br />
      <a
        type="button"
        class="btn btn-outline-warning btn-lg px-4 me-sm-3 fw-bold"
        href="/login"
      >
        Login
      </a>
      <a type="button" class="btn btn-outline-light btn-lg px-4"> Sign-Up </a>
    </div>

    <div class="bg-dark text-secondary px-3 py-5 text-center pt-1">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-white">What is myBalloons?</h1>
        <div class="col-lg-6 mx-auto">
          <br />
          <h4 class="text-light">
            A Perfect place where you managing exclusive iBalloons privileges
          </h4>
        </div>
        <div class="d-grid gap-2 d-sm-evenly justify-content-sm-center">
          <h3 style="color: yellow">Fast | Simple | Secure | Ease</h3>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="fs-5 mb-4">
            myBalloons System is only place where you can... Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Pellentesque aliquam bibendum
            risus, luctus ornare velit interdum id. Donec ultricies turpis sit
            amet elit tempor fermentum. Cras ut risus at sem aliquam efficitur
            in nec massa. Duis posuere justo quis eleifend imperdiet. Ut eget
            leo et lectus auctor sollicitudin. Nam eget accumsan tortor. Sed
            sollicitudin egestas felis, at porta ex finibus id. Integer
            pellentesque sit amet libero vel tempor. Proin fermentum libero vel
            magna vulputate, vel finibus urna facilisis.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a
              type="button"
              class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
              href="#"
            >
              User Manual
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("dark").style.display = "none"; // hide the dark theme by default
  function toDarkTheme() {
    document.getElementById("dark").style.display = "block";
    document.getElementById("light").style.display = "none";
  }
  function toLightTheme() {
    document.getElementById("dark").style.display = "none";
    document.getElementById("light").style.display = "block";
  }
</script>
{% endblock %}
