{% extends 'base.html' %} {% block title %}SIGN-UP | myBalloons{% endblock %}{%
block content %}
<style>
  .form-popup {
    display: none;
  }
</style>
<br />

<div class="pt-5 mb-2">
  <ul>
    <li value="*">
      Already have <u>Balloons Account</u>, please
      <a href="/login"><strong>Login!</strong></a>
    </li>
    <li>
      Need help? Contact us via:
      <a href="mailto:mu.iballoons@outlook.com"><i>Email</i></a>
    </li>
  </ul>

  <br />
  <form method="POST" class="mb-3">
    <h1 style="font-weight: bold" align="center">Sign-Up</h1>
    <h2 style="font-weight: bold" align="center">
      myBalloons v{{systemVersion}}
    </h2>
    <div class="form-group mb-3">
      <label for="email"><span style="color: red">*</span> Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        placeholder="example@muiballoons.com"
      /><small style="color: green"
        >This email address
        <strong>WILL be used to verify your identity.</strong>
        Please make sure
        <strong>you type in your own valid email address</strong>
      </small>
    </div>
    <div class="form-group mb-3">
      <label for="firstName"
        ><span style="color: red">*</span> First Name</label
      >
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        required
        placeholder="Your first Name"
      />
    </div>
    <div class="form-group mb-3">
      <label for="password1"
        ><span style="color: red">*</span>Create new Password</label
      >
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
      <small style="color: green"
        >Password <strong>MUST be at least 8 character long.</strong> And
        <strong>SHOULD NOT be something easily to guess (Ex. 12345678)</strong>
      </small>
    </div>

    <div class="form-group mb-3">
      <label for="password2"
        ><span style="color: red">*</span> Confirm Password</label
      >
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <label for="master-key-opener">
      (For System Admin registration Only):</label
    >
    &ensp;
    <button
      name="master-key-opener"
      type="button"
      class="btn btn-secondary"
      onclick="MasterKeyform()"
    >
      Show/Hide
    </button>
    <div class="form-popup mb-3" id="master-key" align="center">
      <label for="mk"> Master Key</label>
      <input
        type="password"
        class="form-control"
        id="mk"
        name="mk"
        maxlength="8"
        placeholder="Type master key in here"
      />
      <small style="color: green"
        >Master Key is given to system admin only. For normal account, you can
        <strong>leave this field blank.</strong>
      </small>
    </div>
    <br />
    <label for="security-question-opener"
      ><span style="color: red">*</span> Security Question:</label
    >
    &ensp;
    <button
      name="security-question-opener"
      type="button"
      class="btn btn-secondary"
      onclick="Questionform()"
    >
      Show/Hide</button
    ><br />
    <div class="form-popup mb-3" id="question-form">
      <br />
      <div class="form-control" style="background-color: rgb(0, 0, 255, 0.2)">
        <label for="security-question" style="font-weight: bold">
          Custom Security Question</label
        >
        <input
          type="text"
          class="form-control"
          id="security-question"
          name="security_question"
          placeholder="Type custom security question in here"
          onkeyup="readQuestion()"
          required
          aria-placeholder="Where is your mother's hometown?"
        />
        <small>Ex. Where is your mother's hometown?</small><br />
        <label
          for="security_question_review"
          style="color: rgb(221, 128, 57); font-weight: bolder"
          >Security Question Selected:
        </label>
        <input
          type="text"
          class="form-control"
          id="security-question-review"
          name="security_question_review"
          value=""
          disabled
        /><small
          ><span style="color: green"
            >Selected values are mark within quotation marks ("") &ensp;Ex. If
            the values are 'This is an answer.', It will be shown as "This is an
            answer."</span
          >
        </small>
        <br />
        <label for="security-question-answer" style="font-weight: bold">
          Answer for Custom Security Question</label
        >
        <input
          type="text"
          class="form-control"
          id="security-question-answer"
          name="security_question_answer"
          placeholder="Type answer for your custom security question in here"
          onkeyup="readAnswer()"
          required
          aria-placeholder="Somewhere on Earth!"
        />
        <small>Ex. Somewhere on Earth</small><br />
        <label
          for="security_question_answer_review"
          style="color: rgb(221, 128, 57); font-weight: bolder"
          >Answer for Security Question Selected:
        </label>
        <input
          type="text"
          class="form-control"
          id="security-question-answer-review"
          name="security_question_answer_review"
          value=""
          disabled
        /><small
          ><span style="color: green"
            >Selected values are mark within quotation marks ("") &ensp;Ex. If
            the values are 'This is an answer.', It will be shown as "This is an
            answer."</span
          >
        </small>
      </div>
    </div>
    <br />
    <div align="center">
      <button
        type="submit"
        class="btn btn-primary"
        onclick="confirm('Are you sure to submit the form?')"
      >
        Sign-Up!
      </button>
    </div>
    <span style="color: red"
      ><small>* = <u>Required</u></small></span
    >
  </form>
</div>
<script>
  document.getElementById("security-question-review").value = '""';
  document.getElementById("security-question-answer-review").value = '""';
  function MasterKeyform() {
    var isShow = document.getElementById("master-key");
    if (isShow.style.display === "block") {
      isShow.style.display = "none";
    } else {
      isShow.style.display = "block";
    }
    //document.getElementsByID("master-key").style.visibility = "visible";
  }
  function Questionform() {
    var isShow = document.getElementById("question-form");
    if (isShow.style.display === "block") {
      isShow.style.display = "none";
    } else {
      isShow.style.display = "block";
    }
  }
  function readQuestion() {
    document.getElementById("security-question-review").value =
      '"' + document.getElementById("security-question").value + '"';
  }
  function readAnswer() {
    document.getElementById("security-question-answer-review").value =
      '"' + document.getElementById("security-question-answer").value + '"';
  }
</script>

{% endblock %}
