{% extends "base.html" %} {% block title %}ER503: SERVER UNAVAILABLE{% endblock
%}{% block content %}
<style>
  h3 {
    color: crimson;
  }
  body {
    background-image: url({{url_for(
        "static",
        filename= "backgrounds/error-bg1.png"
      )}});
  }
</style>
<br />
<div class="pt-5 px-2" align="center">
  <h3 style="font-size: 3.8em; font-style: bold; font-weight: bolder">
    SERVER IS NOW DOWN BECAUSE...
  </h3>

  <br />
  <p style="color: rgb(238, 207, 69)">
    It is overloaded or down for maintenance
  </p>
  <br />
  <h5 style="font-size: 1.4em; font-weight: bold">
    Sorry, We are trying to get the server back on its jobs again, please try
    again or contact
    <u><i>myBalloons System Administrator</i></u> if you need further
    information.
  </h5>
  <br />
  <a
    role="button"
    class="btn btn-outline-light btn-lg px-4 fw-bold"
    href="mailto:mu.iballoons@outlook.com"
    >Contact Us</a
  >
  <br />
  <br />
  <a role="button" class="btn btn-warning" href="/">Back Home</a>
</div>
<h6></h6>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}
